@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Muli', sans-serif;
}

h2,
h3,
p {
  margin: 0;
}

main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  color: white;
  background-color: #302f3f;
  background-image: url("../images/Group 19.png"), url("../images/index-eclipse.png"), url("../images/Group 20.png");
  background-repeat: no-repeat;
  background-position: top 13.1rem left 8rem,
 bottom 0 left 0,
 bottom 4.1rem right 5.1rem;
  background-attachment: fixed;
}

@media screen and (max-width: 1303px) {
  main {
    background-position: top 33rem left 2.94rem,
 top 0 left 0,
 bottom 4.1rem right 5.1rem;
  }
}

@media screen and (max-width: 1185px) {
  main {
    background-position: top 33rem left 2.94rem,
 top 0 left 0,
 bottom -1rem right -2rem;
  }
}

@media screen and (max-width: 920px) {
  main {
    background-position: top 35rem left 0,
 top 0 left 0,
 bottom -2rem right -2rem;
  }
}

@media screen and (max-width: 560px) {
  main {
    background-image: url("../images/index-eclipse.png"), url("../images/Group 20.png");
    background-position: top 0 left 0,
 bottom -2rem right -2rem;
  }
}

main h2 {
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 90px;
  margin-bottom: 20px;
}

main p {
  font-size: 1.125rem;
  line-height: 23px;
  margin-bottom: 28px;
}

main input {
  min-width: 302px;
  padding: 1rem 3.63rem;
  background: #3D3C4B;
  outline: none;
  border: none;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  color: #FFF;
}

main input::-webkit-input-placeholder {
  color: #6A6974;
}

main input:-ms-input-placeholder {
  color: #6A6974;
}

main input::-ms-input-placeholder {
  color: #6A6974;
}

main input::placeholder {
  color: #6A6974;
}

main button {
  text-decoration: none;
  font-family: 'Muli', sans-serif;
  min-width: 302px;
  text-align: center;
  background-color: #00BFA6;
  padding: 14px 0;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 23px;
  color: black;
  cursor: pointer;
  outline: none;
  border: none;
}

main button[disabled]:hover {
  cursor: not-allowed;
}

main .agree {
  cursor: pointer;
  font-size: 1rem;
  margin: 0;
  text-align: center;
  color: #EB5757;
}

main .agreeBox {
  margin-bottom: 20px;
}

main .pop-up {
  position: absolute;
  text-align: center;
  background-color: #00BFA6;
  padding: 40px;
  color: black;
  display: none;
}

@media screen and (max-width: 413px) {
  main .pop-up h1 {
    font-size: 1.5rem;
  }
}

main .pop-up h1,
main .pop-up p {
  max-width: 90%;
}

main .pop-up p {
  text-align: left;
}

main .pop-up .cancel {
  position: absolute;
  right: 30px;
  top: 5%;
  font-weight: 900;
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 413px) {
  main .pop-up .cancel {
    top: 6%;
  }
}